form{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;    
}


body{
    background-color:white;
    font-family: 'Indie Flower', cursive;

}


.container{
    display: flex;
    flex-direction: column;
     align-items: center;
     width: 100%;

}

.contenedor-flex{
        display: flex;
        flex-direction: column;
        background-color:#9EB82D;
        align-items: center;
        text-align: center;
        width: 100%;
       margin: auto;
       height: 80%;;
}



.main-header{
     display: flex;
    flex-direction:column;
    background-color: #9EB82D;
     color:white;
     font-family: 'Indie Flower', cursive;
     font-size: 2vw;
    line-height: 0em;
    margin-top: 2vw;
    text-align: center;
    width: 100%;
}

.titulo{
    width: 100%;
    font-size: 4rem;
}

.imagen1{
    min-width: 100%;
    width: 165px;
    height: 170px;
}



.labels{
    display: flex;
    min-width: 100%;
    padding: 25px;
    font-family: 'indie flower', cursive;
    align-items: center;
    text-transform: uppercase;
    flex-direction: column;

        
}

.etiqueta{
    font-size:20px;
    min-width: 50%;
    color: whitesmoke;
    padding: 10px;
    margin-right: 20px;
}

.etiqueta1{ font-size:20px;
    min-width: 50%;
    color: grey;
    padding: 10px;

}



input{
    display: flex;
    align-items: center;
    font-size: 25px;
    background-color:whitesmoke;

width: 250px;;

}



.boton {
    max-width: auto;
    display: flex;
    text-transform: uppercase;
    text-align: center;
    
}

.boton1{
    color:white;
    text-transform: uppercase;
    background-color: #9EB82D;
    margin-top: 20px;
    width: 180px;
    padding: 15px  40px 15px 40px;
    font-family: 'indie flower', cursive;
}