* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:all 0.5s ease;
}

body {
    font-family: 'Inconsolata', monospace;
}

/*FAQ*/
.imagenesfaq{
    width: 5%;
}
.faqpar{
    color: #9EB82D; 
}
.mainsectionfaq{
    width: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 auto;
    padding: 10px 0;
    padding-top: 35px;
}
.h2faq{
    font-size: 2.5em;
    text-align: center;
    padding-top: 35px;
}