/*
        <----FONTS---->
font-family: 'Patrick Hand', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Lato', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

h2{
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.createPost{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #9EB82D;
    box-shadow: 2px 2px 3px rgba(70, 70, 70, 0.678);
}

.createPost .createTexts{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;

}

.textarea{
    resize: none;
    margin-top: 5px;
}

.createPost .createTexts input{
    font-size: 1em;
}

.createPost .createButtons{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.selectPlace{
    margin: 5px 0;
}

.submit{
    display: inline-block;
    padding: 10px 15px;
    font-family: 'lato', sans-serif;
    border: 2px solid white;
    font-size: 20px;
    border-radius: 10px;
    -webkit-appearance: none;
    background-color: #9EB82D;
    color: white;
}

.radioButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.file{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 0;
    -webkit-appearance: none;
}