* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:all 0.5s ease;
}

body {
    font-family: 'Lato', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.avatar img{
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.button-container button{
    width: 25%;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1em;
    text-transform: uppercase;
    background-color: #9EB82D;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(70, 70, 70, 0.678);
    text-shadow: 0px 0px 5px rgba(70, 70, 70, 0.678);
    padding: 5px 10px 3px 10px;
    margin: 20px 10px;
}

.button-container button a{
    color: white;
    text-decoration: none;
}