* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Indie Flower', cursive;
}

/* Header */

.header-container{
    text-align: center;
    width: 100%;
    overflow: hidden;
    padding-top: 10px;
}

.header-content {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #9EB82D;
}

.header-content a{
    text-decoration: none;
    color: #9EB82D;
}

.header-background{
    width: 200%;
}

.header-logo{
    display: inline-block;
    border-radius: 50%;
    border: 3px solid #9EB82D;
    width: 25%;
    align-self: center;
}

.header-content h1{
    font-size: 12vw;
    line-height: 0em;
    margin-top: 5vw;
}

.header-content h2{
    font-size: 4vw;
    display: block;
    width: 100%;
    margin-top: 20px;
}

/* Navigation */

.navigation{
    padding: 5px 0 10px 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.navigation a{
    width: 23%;
    background-color: #9EB82D;
    color: white;
    text-decoration: none;
    box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.555);
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.473);
    padding: 5px 0;
    transition:all 0.5s ease;
}

.navigation a:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color: rgb(172, 199, 50);
    box-shadow: 0px 3px 7px rgba(70, 70, 70, 0.678);
}

/* Body */

.about{
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.about h2{
    padding: 15px 0 0 0;
    display: block;
    font-size: 10vw;
    width: 100%;
}

.about p{
    display: block;
    width: 90%;
    text-align: justify;
}

.about article p{
    width: 95%;
    border-radius: 10px;
    margin: 15px 0;
    padding: 0 0;
    text-align: center;
}

.about article img{
    width: 25%;
    border: 3px solid black;
    border-radius: 50%;
}

/* Footer */

.footer{
    display: flex;
    justify-content: center;
    background-color: #9EB82D;
    width: 80%;
    flex-wrap: wrap;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 auto;
    padding: 10px 0;
}

.footerNav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 10px;
}

.footerNav a{
    text-decoration: none;
    text-align: center;
    color: white;
    width: 25%;
    display: block;
    font-size: 3.5vw;
    padding: 10px 0;
}

.footer p{
    font-size: 2vw;
}
/*TESTSSSSS*/

.bordeTest{
    border: none;
    border: 3px solid black !important;   
}

/*FAQ*/
.imagenesfaq{
    width: 5%;
}
.faqpar{
    color: #9EB82D; 
}
.mainsectionfaq{
    width: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 auto;
    padding: 10px 0;
}

/* Formulario */ 

.container{
    display: flex;
    flex-direction: column;
     align-items: center;
}

.contenedor-flex{
        display: flex;
        flex-direction: row;
        background-color:#9EB82D;
        align-items: center;
        text-align: center;
        width: 380px;
        padding-left: 90px;
        margin: auto;
}



.main-header{
     display: flex;
    flex-direction:column;
     color: #9EB82D;
     font-family: 'Indie Flower', cursive;
     font-size: 2vw;
    line-height: 0em;
    margin-top: 2vw;
    text-align: center;
    padding: 10px;
    width: 100%;
}




.labels{
    display: flex;
    text-align: center;
    padding: 20px;
    font-family: 'indie flower', cursive;
    align-items: center;
    text-transform: uppercase;
    flex-direction: column;
    
        
}

.etiqueta1, .etiqueta2, .etiqueta3, .etiqueta4, .etiqueta5{
    font-size:20px;
    min-width: 50%;
    color: whitesmoke;
    padding: 10px;
}




input{
    display: flex;
    font-size: 25px;
    background-color:whitesmoke;
align-items: flex-start;
width: 250px;;

}



.boton {
    max-width: auto;
    text-transform: uppercase;
    text-align: center;
    
}

.boton1{
    color:white;
    text-transform: uppercase;
    background-color: #9EB82D;
    margin-top: 20px;
    width: 180px;
    padding: 15px  40px 15px 40px;
    font-family: 'indie flower', cursive;
}

/* Media Queries */

@media(min-width: 768px) {
    .header-background{
        width: 150%;
    }
}

 @media(min-width: 992px) {
    .header-background{
        width: 100%;
    }

    .header-content {
        flex-direction: row;
    }
}
/*
@media(min-width: 1200px) {
    .header-container img{
        width: 100%;
    }
} */